<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ora.blockchain.mybatis.mapper.common.ScanCursorMapper">
    <!--auto generated Code-->
    <resultMap id="AllColumnMap" type="com.ora.blockchain.mybatis.entity.common.ScanCursor">
        <result column="id" property="id"/>
        <result column="current_block" property="currentBlock"/>
        <result column="sync_status" property="syncStatus"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="all_column">
        `id`,
        `current_block`,
        `sync_status`
    </sql>

    <!--auto generated Code-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO ${database}.scancursor (
            `id`,
            `current_block`,
            `sync_status`
        ) VALUES (
            #{pojo.id},
            #{pojo.currentBlock},
            #{pojo.syncStatus}
        )
    </insert>

    <!--auto generated Code-->
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO ${database}.scancursor
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id!=null"> `id`,</if>
            <if test="pojo.currentBlock!=null"> `current_block`,</if>
            <if test="pojo.syncStatus!=null"> `sync_status`</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id!=null"> #{pojo.id},</if>
            <if test="pojo.currentBlock!=null"> #{pojo.currentBlock},</if>
            <if test="pojo.syncStatus!=null"> #{pojo.syncStatus}</if>
        </trim>
    </insert>

    <!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO ${database}.scancursor(
        <include refid="all_column"/>
        )VALUES
        <foreach collection="pojos" item="pojo" index="index" separator=",">
            (
            #{pojo.id},
            #{pojo.currentBlock},
            #{pojo.syncStatus}
            )
        </foreach>
    </insert>

    <!--auto generated Code-->
    <update id="update">


        UPDATE ${database}.scancursor
        <set>
            <if test="pojo.id != null"> `id` = #{pojo.id},</if>
            <if test="pojo.currentBlock != null"> `current_block` = #{pojo.currentBlock},</if>
            <if test="pojo.syncStatus != null"> `sync_status` = #{pojo.syncStatus}</if>
        </set>
        WHERE id = #{pojo.id}
    </update>

    <select id="getNotConfirmScanCursor" resultMap="AllColumnMap">
        SELECT  <include refid="all_column"/> FROM ${database}.scancursor
        where current_block = (select min(current_block) from ${database}.scancursor where sync_status = 0)
    </select>


    <delete id="deleteCursorByBlockNumber">
        DELETE FROM ${database}.scancursor WHERE block_number = #{blockNumber}
    </delete>

</mapper>

