<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ora.blockchain.mybatis.mapper.block.EosBlockMapper">
    <insert id="insertBlock">
        INSERT INTO ${database}.block (`timestamp`,`producer`,`confirmed`,`previous`,`transaction_mroot`,`action_mroot`,`schedule_version`,`new_producers`,`header_extensions`,`producer_signature`,`block_extensions`,`block_id`, `block_num`, `ref_block_prefix`, `create_ts`)
        VALUES (#{pojo.timestamp},#{pojo.producer},#{pojo.confirmed},#{pojo.previous},#{pojo.transaction_mroot},#{pojo.action_mroot},#{pojo.schedule_version},#{pojo.new_producers},#{pojo.header_extensions},
        #{pojo.producer_signature},#{pojo.block_extensions},#{pojo.block_id},#{pojo.block_num},#{pojo.ref_block_prefix},now())
    </insert>
    <select id="queryLastBlock" resultType="com.ora.blockchain.mybatis.entity.block.EosBlock">
        SELECT block_num FROM ${database}.block ORDER BY block_num DESC LIMIT 1;
    </select>
</mapper>