<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ora.blockchain.mybatis.mapper.block.EthereumBlockMapper">
    <resultMap id="AllColumnMap" type="com.ora.blockchain.mybatis.entity.block.EthereumBlock">
        <result column="hash" property="hash"/>
        <result column="difficulty" property="difficulty"/>
        <result column="block_number" property="blockNumber"/>
        <result column="parent_hash" property="parentHash"/>
        <result column="confirm_number" property="confirmNumber"/>
        <result column="block_time" property="blockTime"/>

    </resultMap>
    <!--auto generated Code-->
    <sql id="all_column">
        `hash`,
        `difficulty`,
        `block_number`,
        `parent_hash`,
        `confirm_number`,
        `block_time`
    </sql>

    <update id="updateByBlockNumber">
        UPDATE ${database}.block
        <set>
            <if test="pojo.hash != null"> `hash` = #{pojo.hash}, </if>
            <if test="pojo.difficulty != null"> `difficulty` = #{pojo.difficulty}, </if>
            <if test="pojo.block_number != null"> `block_number` = #{pojo.blockNumber}, </if>
            <if test="pojo.parent_hash != null"> `parent_hash` = #{pojo.parentHash}, </if>
            <if test="pojo.confirm_number != null"> `confirm_number` = #{pojo.confirmNumber}, </if>
            <if test="pojo.block_time != null"> `block_time` = #{pojo.blockTime}, </if>
        </set>
        WHERE block_number = #{pojo.blockNumber}
    </update>

    <insert id="insertBlockList">
        INSERT INTO ${database}.block (`hash`, `difficulty`, `block_number`,`parent_hash`, `confirm_number`, `block_time`)
        VALUES
        <foreach collection="blockList" item="pojo" index="index" separator=",">
            (#{pojo.hash}, #{pojo.difficulty}, #{pojo.blockNumber}, #{pojo.parentHash}, #{pojo.confirmNumber}, #{pojo.blockTime})
        </foreach>
    </insert>

    <select id="queryMaxBlockInDb" resultType="Long">
        SELECT  IFNULL(MAX(block_number),0 ) FROM ${database}.block
    </select>

    <select id="queryMinBlockInDb" resultType="Long">
        SELECT  IFNULL(MIN(block_number),0 ) FROM ${database}.block
    </select>

    <select id="queryMaxConfirmBlockInDb" resultType="Long">
        SELECT  IFNULL(MAX(block_number),0 ) FROM ${database}.block WHERE confirm_number >0
    </select>

    <select id="queryPreEthBlocks" resultMap="AllColumnMap">
        SELECT  <include refid="all_column"/> FROM ${database}.block
          WHERE block_number BETWEEN #{fromNumber} AND #{toNumber}
    </select>

    <update id="updateSetConfirmStatusByHash">
        UPDATE ${database}.block
        set `confirm_number` = #{confirmNumber}
        WHERE hash IN
        <foreach item="item" index="index" collection="hashList"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>



</mapper>