<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ora.blockchain.mybatis.mapper.input.InputMapper">
    <insert id="insertInput">
    INSERT INTO ${database}.input (`transaction_txid`, `address`,`wallet_account_id`, `txid`,`coinbase`, `vout`, `sequence`, `create_ts`)
    VALUES (#{pojo.transactionTxid}, #{pojo.address}, #{pojo.walletAccountId}, #{pojo.txid},#{pojo.coinbase}, #{pojo.vout}, #{pojo.sequence},now())
    </insert>
    <insert id="insertInputList">
        INSERT INTO ${database}.input (`transaction_txid`, `address`,`wallet_account_id`, `txid`,`coinbase`, `vout`, `sequence`, `create_ts`)
        VALUES
        <foreach collection="inputList" item="pojo" index="index" separator=",">
            (#{pojo.transactionTxid}, #{pojo.address}, #{pojo.walletAccountId}, #{pojo.txid},#{pojo.coinbase}, #{pojo.vout}, #{pojo.sequence},now())
        </foreach>
    </insert>
    <select id="queryAccountByTransactionTxid" resultType="long">
        SELECT wallet_account_id FROM ${database}.input WHERE wallet_account_id > 0 AND transaction_txid IN
        <foreach item="item" index="index" collection="txidList" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
</mapper>