<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ora.blockchain.mybatis.mapper.transaction.EthereumTransactionMapper">
    <resultMap id="AllColumnMap" type="com.ora.blockchain.mybatis.entity.transaction.EthereumTransaction">
        <result column="id" property="id"/>
        <result column="tx_id" property="txId"/>
        <result column="from" property="from"/>
        <result column="to" property="to"/>
        <result column="block_height" property="blockHeight"/>
        <result column="block_hash" property="blockHash"/>
        <result column="value" property="value"/>
        <result column="gas_price" property="gasPrice"/>
        <result column="gas_used" property="gasUsed"/>
        <result column="nonce" property="nonce"/>
        <result column="input" property="input"/>
    </resultMap>
    <!--auto generated Code-->
    <sql id="all_column">
        `id`,
        `tx_id`,
        `from`,
        `to`,
        `block_height`,
        `block_hash`,
        `value`,
        `gas_price`,
        `gas_used`,
        `nonce`,
         `input`,
        `create_ts`,
        `update_ts`
    </sql>

    <insert id="insertTransaction">
        INSERT INTO ${database}.tx_ethereum ( `id`,
        `tx_id`,
        `from`,
        `to`,
        `block_height`,
        `block_hash`,
        `value`,
        `gas_price`,
        `gas_used`,
          `input`,
        `nonce`)
        VALUES (#{pojo.id}, #{pojo.txId}, #{pojo.from}, #{pojo.to},
            #{pojo.blockHeight}, #{pojo.blockHash},#{pojo.value}, #{pojo.gasPrice},
            #{pojo.gasUsed},#{pojo.input},#{pojo.nonce})
    </insert>

    <insert id="insertTxList">
        INSERT INTO ${database}.tx_ethereum (
        `tx_id`,
        `from`,
        `to`,
        `block_height`,
        `block_hash`,
        `value`,
        `gas_price`,
        `gas_used`,
        `input`,
        `nonce`
        )
        VALUES
        <foreach collection="txList" item="pojo" index="index" separator=",">
            (
            #{pojo.txId}, #{pojo.from}, #{pojo.to},
            #{pojo.blockHeight}, #{pojo.blockHash},#{pojo.value}, #{pojo.gasPrice},
            #{pojo.gasUsed},#{pojo.input},#{pojo.nonce}
            )
        </foreach>
    </insert>


    <select id="queryMaxBlockOfTxInDb" resultType="Long">
        SELECT  IFNULL(MAX(block_height),0 ) FROM ${database}.tx_ethereum
    </select>

    <update id="updateTransacion">
        UPDATE ${database}.tx_ethereum
        <set>
            `block_hash` = #{blockHash}

        </set>
        WHERE block_height = #{blockHeight}
    </update>

    <select id="queryIsolatedBlockTx" resultMap="AllColumnMap">
        SELECT  <include refid="all_column"/> FROM ${database}.tx_ethereum
        WHERE block_hash = NULL
    </select>

    <delete id="deleteTxByTxhash">
        DELETE FROM ${database}.tx_ethereum WHERE tx_id in
        <foreach item="item" index="index" collection="txList" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
</mapper>