<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ora.blockchain.mybatis.mapper.transaction.EthereumTransactionMapper">

    <!--auto generated Code-->
    <sql id="all_column">
        `id`,
        `tx_id`,
        `from`,
        `to`,
        `block_time`,
        `block_height`,
        `value`,
        `gas_price`,
        `gas_limit`,
        `gas_used`,
        `nonce`,
        `status`,
        `create_ts`,
        `update_ts`
    </sql>

    <insert id="insertTransaction">
        INSERT INTO ${database}.tx_ethereum ( `id`,
        `tx_id`,
        `from`,
        `to`,
        `block_height`,
        `value`,
        `gas_price`,
        `gas_used`,
        `nonce`)
        VALUES (#{pojo.id}, #{pojo.txId}, #{pojo.from}, #{pojo.to},
            #{pojo.blockHeight},#{pojo.value}, #{pojo.gasPrice},
            #{pojo.gasUsed},#{pojo.nonce})
    </insert>

    <insert id="insertTxList">
        INSERT INTO ${database}.tx_ethereum (

        `tx_id`,
        `from`,
        `to`,
        `block_height`,
        `value`,
        `gas_price`,
        `gas_used`,
        `nonce`
        )
        VALUES
        <foreach collection="txList" item="pojo" index="index" separator=",">
            (
            #{pojo.txId}, #{pojo.from}, #{pojo.to},
            #{pojo.blockHeight},#{pojo.value}, #{pojo.gasPrice},
            #{pojo.gasUsed},#{pojo.nonce}
            )
        </foreach>
    </insert>


    <select id="queryMaxBlockOfTxInDb" resultType="Long">
        SELECT  IFNULL(MAX(block_height),0 ) FROM ${database}.tx_ethereum
    </select>

</mapper>