<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ora.blockchain.mybatis.mapper.transaction.TransactionMapper">
    <insert id="insertTransaction">
        INSERT INTO ${database}.transaction (`txid`, `hex`, `size`,`version`, `locktime`, `height`, `time`, `block_hash`, `block_time`,`create_ts`)
        VALUES (#{pojo.txid}, #{pojo.hex}, #{pojo.size}, #{pojo.version}, #{pojo.locktime}, #{pojo.height},#{pojo.time}, #{pojo.blockHash}, #{pojo.blockTime}, now())
     </insert>
    <insert id="insertTransactionList">
      INSERT INTO ${database}.transaction (`txid`, `hex`, `size`,`version`, `locktime`, `height`, `time`, `block_hash`, `block_time`,`create_ts`)
      VALUES
        <foreach collection="transactionList" item="pojo" index="index" separator=",">
            (#{pojo.txid}, #{pojo.hex}, #{pojo.size}, #{pojo.version}, #{pojo.locktime}, #{pojo.height},#{pojo.time}, #{pojo.blockHash}, #{pojo.blockTime}, now())
        </foreach>
    </insert>
    <select id="queryTransactionListByBlockHash" resultType="com.ora.blockchain.mybatis.entity.transaction.Transaction">
        SELECT txid FROM ${database}.transaction WHERE block_hash = #{blockHash}
    </select>
    <delete id="deleteTransactionByBlockHash">
        DELETE FROM ${database}.transaction WHERE block_hash = #{blockHash}
    </delete>
</mapper>